<header class='main-header'>
    <nav class='main-nav'>
        <ul class='item-list'>
            <li class='item{{isActive '/'}}'><a href='/'>Shop</a></li>
            <li class='item{{isActive '/add-product'}}'><a href='/admin/add-product'>Add Product</a></li>
        </ul>
    </nav>
</header>
