/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  padding: 0;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

button {
  cursor: pointer;
}

.shopping-cart-container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.cart-items-container,
.cart-total-container {
  background-color: white;
  width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 0.5rem;
}

.cart-items {
  display: grid;
  grid-row-gap: 1rem;
  width: 100%;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.1rem solid #f0f0f0;
  padding-bottom: 1rem;
}

.cart-item-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.cart-item-info-container p {
  margin-bottom: 0.5rem;
}

.cart-item-checkout-container {
  text-align: right;
}
.cart-item-checkout-container button {
  font-size: 0.9rem;
}

.cart-item img {
  max-width: 120px;
  width: 100%;
}

.cart-total dl {
  display: grid;
  grid-template-columns: 80% 20%;
  text-align: right;
  margin-top: 0;
  margin-bottom: 1rem;
}

.cart-item-total {
  font-weight: 600;
  color: #ea6324;
}