    <header class='main-header'>
      <nav class='main-nav'>
          <ul class='item-list'>
            <%_ if (!locals.path) locals.path = '' -%>
              <ul class='item-list'>
                  <li class = '<%= path === '/' ? 'item active' : 'item' %>'><a href='/'>Shop</a></li>
                  <li class = '<%= path === '/add-product' ? 'item active' : 'item' %>'><a href='/admin/add-product'>Add Product</a></li>
              </ul>
          </ul>
      </nav>
    </header>