<!DOCTYPE html>
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title #{pageTitle}
        link(href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap' rel='stylesheet')
        link(rel='stylesheet' type='text/css' href='/css/main.css')
        block styles
    body
        header.main-header
            nav.main-nav
                ul.item-list
                    li.item(class = (path === '/' ? 'active' : ''))
                        a(href='/') Shop
                    li.item(class = (path === '/add-product' ? 'active' : ''))
                        a(href='/admin/add-product') Add Product
        block content