/* --- Resets --- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

* { 
    Box-sizing: Border-box 
}

/* --- END Resets --- */

body {
    font: 300 1rem 'Roboto', arial, sans-serif;
    letter-spacing: .75px;
    color: #333;
}

h1 {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: .5rem;
}

a {
    color: #fff;
    text-decoration: none;
}

li, a, button {
    transition: all .2s linear;
    transition-property: color, background-color, border-color;
}

header {
    width: 100%;
    padding-top: 10px;
    color: #eee;
    background: #006474;
}

main {
    padding: 30px;
}

/* --- Navigation Menu --- */

.main-nav .item-list {
    display: flex;
}

.main-nav .item-list > .item{
    display: flex;
    font-size: .9rem;
    border-bottom: 4px solid transparent;
}

.main-nav .item-list > .item a {
    padding: 20px 25px;
}

.main-nav li:active a,
.main-nav li.active a{
    color: #f8d300;
}

.main-nav .item-list > .item:hover, 
.main-nav .item-list > .item.active {
    border-color: orange;
}

/* --- END Navigation Menu --- */