/* --- Form Styling --- */

label {
    font-weight: 500;
    margin-bottom: .35rem;
    color: #656565;
}

input {
    width: 100%;
    border-radius: 3px;
    letter-spacing: .5px;
    padding: 10px;
}

input:focus {
    outline: none;
    background-color: #eef;
}

button {
    outline: none!important;
    cursor: pointer;
    font: inherit;
    font-size: .85rem;
    font-weight: 700;
    letter-spacing: .35px;
    padding: 10px 25px;
    color: #eee;
    background-color: #555;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
}

button:hover,
button:active {
    background-color: #333;
}

.product-form{
    width: 20rem;
    max-width: 90%;
    margin: 0 auto;
}

.form-control {
    margin-bottom: 15px;
}

.form-control label {
    font-weight: 500;
}

.form-control label,
.form-control input {
    display: block;
}

.form-control input {
    border: 1px solid #029c88;
    font: inherit;
}

/* --- END Form Styling --- */