/* ------------ simple_clamp ------------- */

@function strip_units($num) {
    @return calc($num / ($num * 0 + 1rem));
}

// @params (rem, rem, px, px /*optional px*/)
// @returns clamp(rem, rem + vw, rem)
@function simple_clamp($minFont, $maxFont, $minWidth, $maxWidth, $pixPerRem: 16px) {
    $minFontPx: calc(strip_units($minFont) / (1 / $pixPerRem));
    $maxFontPx: calc(strip_units($maxFont) / (1 / $pixPerRem));

    $slope: ($maxFontPx - $minFontPx) / ($maxWidth - $minWidth);
    $yOffset: #{($minFontPx - ($slope * $minWidth)) / $pixPerRem}rem;

    // will remove 'yOffset +' if equal to 0
    @return clamp(#{$minFont, #{if($yOffset=='0rem','', $yOffset'+')} #{$slope * 100}vw, $maxFont});
}