extends includes/main-layout.pug
block styles
    link(rel='stylesheet', href='/css/product.css')
block content
    main
        if products.length > 0
            .grid
                each product in products
                    article.card.product-item
                        header.card-header
                            h1.product-title #{product.title}
                        .card-image
                            img(src='/images/book-1296045_960_720.png' alt='A Book')
                        .card-content
                            h2.product-price $19.99
                            p.product-description A very interesting book about so many even more interesting things!
                        .card-actions
                            button.btn Add to Cart
        else
            h1 No Products

