.product-form {
    width: 100%;
    max-width: 800px;
    display: block;
}

.product-item {
    max-width: 90%;
    text-align: center;

    &__price {
        font-weight: 400;
    }

    &__summary {
        height: 60px;
    }
}

.product-detail {
    display: grid;
    column-gap: 1.5em;
    max-width: 900px;
    width: 80vw;

    .author {
        font-size: 1.15em;
    }

    &__image {
        padding-bottom: 1rem;
        img {
            margin: auto;
            width: calc(clamp(192px, 50%, 225px));
        }
    }

    @media (min-width: 768px) {
        grid-template-columns: 225px 1fr;

        &__image {
            img {
                margin-left: 0;
                width: 100%;
            }
        }
    }
}